@model MessageViewModel	

<div class="message-wrapper">
	<div class="message-first-row">
		<h3>@Model.AuthorName</h3>
		<p>Reply</p>
	</div>
	<div class="message-second-row">
		<p>@Model.MessageText</p>
		<p>@Model.Time</p>
	</div>
</div>